{% extends 'baseadmin.html.twig' %}
 {% block rigth_content %}

     <table id="rounded-corner" summary="2007 Major IT Companies' Profit">
         <thead>
         <tr>
             <th scope="col" class="rounded-company">Publier</th>
             <th scope="col" class="rounded">Titre</th>
             <th scope="col" class="rounded">Categorie</th>
             <th scope="col" class="rounded">Date d'edition</th>
             <th scope="col" class="rounded">Auteur</th>
             <th scope="col" class="rounded">Edit</th>
             <th scope="col" class="rounded-q4">Delete</th>
         </tr>
         </thead>
         <tfoot>
         <tr>
             <td colspan="6" class="rounded-foot-left"><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</em></td>
             <td class="rounded-foot-right">&nbsp;</td>

         </tr>
         </tfoot>
         <tbody>
         {% for article in articles %}
             <tr>
                 <td><input type="checkbox" name=""></td>
                 <td>{{ article.titre }}</td>
                 <td>categorie</td>
                 <td>{{ article.date|date('d/m/Y')}}</td>
                 <td>Auteur</td>

                 <td><a href="{{ path('mire_article_update', {'id': article.id }) }}"><img src="{{ asset('bundles/admin/images/user_edit.png')}}" alt="" title="" border="0"></a></td>
                 <td><a href="{{ path('mire_article_delete', {'id': article.id }) }}" class="ask"><img src="{{ asset('bundles/admin/images/trash.png')}}" alt="" title="" border="0"></a></td>
             </tr>
         {% endfor %}

        </tbody>
     </table>
     <a  href="{{ path('mire_article_add') }}"  class="bt_green"><span class="bt_green_lft"></span><strong>Ajouter un Article</strong><span class="bt_green_r"></span></a>

 {% endblock %}