{% extends 'baseadmin.html.twig' %}
 {% block rigth_content %}

     <table id="rounded-corner" summary="2007 Major IT Companies' Profit">
         <thead>
         <tr>
             <th scope="col" class="rounded-company">Publier</th>
             <th scope="col" class="rounded">Nom</th>
             <th scope="col" class="rounded">Position</th>
             <th scope="col" class="rounded">Odre</th>
             <th scope="col" class="rounded">Edit</th>
             <th scope="col" class="rounded-q4">Delete</th>
         </tr>
         </thead>
         <tfoot>
         <tr>
             <td colspan="6" class="rounded-foot-left"><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</em></td>
             <td class="rounded-foot-right">&nbsp;</td>

         </tr>
         </tfoot>
         <tbody>
         {% for categorie in categories %}
             <tr>
                 <td><input type="checkbox" name=""></td>
                 <td>{{ categorie.nom }}</td>
                 <td>{{ categorie.place }}</td>
                 <td>{{ categorie.ordre }}</td>
                 <td>Auteur</td>

                 <td><a href="{{ path('mire_categories_update', {'id': categorie.id }) }}"><img src="{{ asset('bundles/admin/images/user_edit.png')}}" alt="" title="" border="0"></a></td>
                 <td><a href="{{ path('mire_categories_delete', {'id': categorie.id }) }}" class="ask"><img src="{{ asset('bundles/admin/images/trash.png')}}" alt="" title="" border="0"></a></td>
             </tr>
         {% endfor %}

         

         </tbody>
     </table>
     <a  href="{{ path('mire_categories_add') }}"  class="bt_green"><span class="bt_green_lft"></span><strong>Ajouter un Categorie</strong><span class="bt_green_r"></span></a>

 {% endblock %}