{% extends 'basefront2.html.twig' %}
{% block content %}
    <div id="homepost">


        <div id="feat">
            <div id="featbig">

                <div class="featbig">
                    <h2><a href="/article/{{ article.titre }}" rel="bookmark">{{ article.titre }}</a></h2>
                    <a href="/article/{{ article.titre }}"><img width="418" height="215" src="{{ asset('uploads/img/') }}{{ article.image }}" class="attachment-featbigimg wp-post-image" alt="Global Warming"></a>

                    <p>{{ article.contenu|striptags[:450]|raw }}&nbsp;<a href="#">lire la suite...</a></p>
                    <div id="featbig-author" style="margin-top:5px;">by <a href="#" title="View all posts by Matt">{{ article.auteur.nom }}</a> | Published 5 years  ago</div>
                    <div class="cb"></div>
                </div>
            </div>

        </div>

        <div id="coloredblock4">
            <div id="colorcontentblock">
            {% for art in articles %}
                <div id="colorcontentwrap4">


                    <a href="/article/{{ art.titre }}"><img width="205" height="120" src="{{ asset('uploads/img/') }}{{ art.image }}" class="attachment-colorcontentblock4 wp-post-image" alt="{{ art.titre }}"></a>
                      <div class="meta_author">    <div id="meta_authorl"> <a href="#">By </a><a href="#" title="View all posts by Matt">{{ art.auteur.nom }} </a>  {{ art.date|date('d-M-Y') }}  </div>
                        <div id="meta_authorr">
                            0 Comments
                        </div>  <div class="cb"></div>
                    </div>
                    <h2>   <a href="/article/{{ art.titre }}" rel="bookmark">{{ art.titre }}</a></h2>

                    <p>{{ article.contenu|striptags[:450]|raw }}&nbsp;<a href="/article/{{ art.titre }}">More...</a></p>
                    <div class="cb"></div>
                </div>
                {% endfor %}

                <div class="cb"></div>
            </div>
        </div>


    </div>
{% endblock %}
{% block menu %}
    {{ render(controller("MIREFrontBundle:Default:menu")) }}
{% endblock %}
{% block filinfo %}
    {{ render(controller("MIREFrontBundle:Default:filinfo")) }}
{% endblock %}