<div id="colorcontentwrap8line">
    <div id="colorcontenth3_small" class="custom8"><a href="#" title="">{% for c in categorieblock8 %}
                {{ c.nom }}
            {% endfor %}</a></div>
    <div id="colorcontentwrap8">
        <h3><a href="{{ articlesblock8big.titre }}" rel="bookmark">{{ articlesblock8big.titre }}</a></h3>
        <a href="#"><img width="320" height="190" src="{{ asset('uploads/img/')}}{{ articlesblock8big.image }}" class="attachment-colorcontentblock8 " alt="" /></a>

        {{ articlesblock8big.titre[:750]|raw }}..
        <div class="cb"></div>
    </div>
    {% for article in articlesblock8 %}
    <div id="colorcontentwrap8">
        <h2><a href="{{ article.titre }}" rel="bookmark">{{ article.titre }}</a></h2>
        <div class="cb"></div>
    </div>
    {% endfor %}

</div>
