<div id="colorcontentblock">

    <div id="colorcontenth3_small" class="custom3"><a href="#" title="">
            {% for c in categorieblock3 %}
                {{ c.nom }}
            {% endfor %}

        </a></div>
    {% for article in  articlesblock3 %}
    <div id="colorcontentwrap3">
        <h2><a href="article/{{ article.titre }}" rel="bookmark">{{ article.titre }}</a></h2>

        <a href="#">
        {% if article.image != '' %}
            <img width="173" height="137" src="{{ asset('uploads/img/')}}{{ article.image }}" class="attachment-colorcontentblock3 " alt="" />
        {% endif %}
        </a>
        <p>{{ article.contenu[:600]|raw }} <a href='#'>More...</a></p>
        <div class="cb"></div>
    </div>
    {% endfor %}

</div>
