{% extends 'basefront2.html.twig' %}
{% block menu %}
    {{ render(controller("MIREFrontBundle:default:menu")) }}
{% endblock %}
{% block content %}
<div id="homepost">
{%  for article in articles %}
    <div id="datemeta">
        <div id="datemeta_l"><b>Published On:</b>{{ article.date|date('d-M-y')  }} </div>
        <div id="datemeta_r"><a href="#" title="View all posts in Featured" rel="category tag">{% for c in article.categories %} {{ c.nom }} / {% endfor %}</a> | By <b><a href="#" title="View all posts by Matt">{{ article.auteur.nom }} </a></b>    </div>
        <div class="cb"></div>
    </div>
    <div class="post">
        <h1 class="posttitle"> {{ article.titre }} </h1>
        <div class="entry">

            <div id="metabox"><div id="metabox_share">Share This</div>
                <div class="share">
                    <ul> <li><a href="#">
                                <img src="{{ asset('bundles/front') }}/images/delicious.png" alt="" border="0"></a></li>
                        <li><a href="#">
                                <img src="{{ asset('bundles/front') }}/images/facebook(1).png" alt="" border="0"></a>
                        </li>
                        <li><a href="#" target="_blank">
                                <img src="{{ asset('bundles/front') }}/images/friendfeed.png" alt="" border="0"></a> </li>
                        <li><a href="#">
                                <img src="{{ asset('bundles/front') }}/images/google.png" alt="" border="0"> </a>
                        </li>
                        <li><a href="#">
                                <img src="{{ asset('bundles/front') }}/images/reddit.png" alt="" border="0"> </a>
                        </li>

                        <li><a href="#">
                                <img src="{{ asset('bundles/front') }}/images/myspace.png" alt="" border="0"> </a>
                        </li>

                        <li><a href="#"><img src="{{ asset('bundles/front') }}/images/stumbleupon(1).png" alt="" border="0"></a></li>

                        <li><a href="#"><img src="{{ asset('bundles/front') }}/images/technorati.png" alt="" border="0"></a></li>

                        <li style="margin-left:9px;"><a href="#"><img src="{{ asset('bundles/front') }}/images/subscribe_rss.png" alt="" border="0"></a></li>
                    </ul> </div>
                <div class="ptags"><span class="ptags_heading">TAGS</span>
                    <div style="margin-top:5px;text-align:center;"><a> {{ article.motcle|striptags[:150]|raw }} </a></div>
                </div>
            </div>
            <br />
            <img src="{{ asset('uploads/img/') }}{{ article.image }}" alt="" border="0">
            {{ article.contenu|truncate(750, true, '...')|raw }}</p><br />

            <a  href="{{ path('mire_front_inscription') }}" style="padding: 10px;
    text-align: center;background-color: #FF0000;margin: auto;color: #000000;font-weight: bold ">abonnez vous </a>


        </div>
    </div>
    <center style="font-weight: bold;"></center>
{% endfor %}

    <div id="related" class="clearfix">
        {%  for art in lastarticle %}
        <div class="related">

            <div class="relatedpost">

                <a href="#"><img width="150" height="125" src="{{ asset('uploads/img/') }}{{ art.image }}" class="attachment-relatedimg wp-post-image" alt=""></a>
                <h3><a href="/article/{{ art.titre }}" rel="bookmark" title="{{ art.titre }}">{{ art.titre }}</a></h3>
            </div>
        </div>
      {% endfor %}
     <div class="cb"></div>
    </div>
</div>
{% endblock %}
{% block filinfo %}
    {{ render(controller("MIREFrontBundle:Default:filinfo")) }}
{% endblock %}