<div id="colorcontenth3_small" class="custom9"><a href="#" title="">{% for c in categorieblock11 %}
            {{ c.nom }}
        {% endfor %}</a></div>

<div id="colorcontentwrap9">
    <h3><a href="article/{{ articlesblock11big.titre }}" rel="bookmark">{{ articlesblock11big.titre }}</a></h3>
    <a href="#"><img width="320" height="190" src=""{{ asset('uploads/img/')}}{{ articlesblock11big.image }}" class="attachment-colorcontentblock11 " alt="" /></a>
    {{ articlesblock11big.contenu|striptags[:150]|raw }}..
    <div class="cb"></div>
</div>
{%  for article in articlesblock11 %}
    <div id="colorcontentwrap9">
        <h2><a href="article/{{ article.titre }}" rel="bookmark">{{ article.titre }}</a></h2>
        <div class="cb"></div>
    </div>
{%  endfor %}
