<div class="featbig">
    <h2 style="min-height:58px;"><a href="/article/{{ article.titre }}" title="">{{ article.titre }}</a></h2>
    <a href="/article/{{ article.titre }}" title=""><img src="{{ asset('uploads/img/')}}{{ article.image }}" alt="" width="418" height="" /></a>

    {{ article.contenu|striptags[:200]|raw }}</p>
    <div id="featbig-author">by <a href="#" title="">{{ article.auteur.nom }}</a> </div>
        <div id="featsmall">
            {%
            for art in listearticle

            %}
        <h2><a href="/article/{{ art.titre }}" title="">{{ art.titre }}</a></h2>
            {% endfor %}
    </div>
    <div class="cb"></div>
</div>

