<div id="colorcontentblock">
    <div id="colorcontenth3_small" class="custom7"><a href="#" title="">{% for c in categorieblock7 %}
                {{ c.nom }}
            {% endfor %}</a></div>
    <div id="colorcontentwrap7_l">
        <div id="colorcontentwrap7">
            <h2><a href="#" rel="bookmark">{{ articlesblock7big.titre }}</a></h2>
            <a href="#"><img width="220" height="146" src="{{ asset('uploads/img/')}}{{ articlesblock7big.image }}" class="attachment-colorcontentblock6 " alt="" /></a>

            <p>
                {{ articlesblock7big.contenu[:750]|raw }} ...&nbsp;<a href='#'>More...</a></p>
            <div class="cb"></div>
        </div>
    </div>
    <div id="colorcontentwrap7_r">
        {% for article in articlesblock7 %}
        <div id="colorcontentwrap7_a">
            <h2><a href="#" rel="bookmark">{{ article.image }}</a></h2>
            {{ article.contenu[:750]|raw }} .....
            <div class="cb"></div>
        </div>
        {% endfor %}

    </div> <div class="cb"></div>
</div>
