<div id="slider-wrapper">

    <div id="example">

        <div id="slides">
            <div class="slides_container">
                <div class="slide">
                    <a href="#"><img width="298" height="406" src="{{ asset('bundles/front/images/grostitre.jpg')}}" class="attachment-featgalsliderimg " alt="" /></a>
                    <div style="padding:1px 6px;"></div>
                </div>

                <div class="slide">
                    <a href="#"><img width="298" height="295" src="{{ asset('bundles/front/images/watermelon_slice-298x295.jpg')}}" class="attachment-featgalsliderimg " alt="" /></a>
                    <div style="padding:1px 6px;"><a href="#"> <h2 style="margin-bottom:1px;">What to Eat to Beat Skin Cancer	</h2></a>
                        <div id="featgalsliderp"><a href="#"><p>You got the pale-is-the-new-tan memo years ago and have the sun smarts to prove it. Skin cancer is the most common cancer in the United&nbsp;<a href='https://magazine3.com/demo/newspapertimes/what-to-eat-to-beat-skin-cancer/'>More...</p></a></a></div> </div>

                </div>

                <div class="slide">
                    <a href="#" title=""><img width="298" height="295" src="{{ asset('bundles/front/images/Kendall-Jenner-Splashes-Around-on-the-4th-of-July2-435x580-298x295.jpg')}}" alt="" /></a>
                    <div style="padding:1px 6px;"><a href="#"> <h2 style="margin-bottom:1px;">Kendall Jenner Hits Malibu Beach for Some Summer Fun (PHOTOS)	</h2></a>
                        <div id="featgalsliderp"><a href="#"><p>Kendall Jenner is a California girl through and through. The teen reality star celebrated the 4th of July by hitting the beach for&nbsp;<a href='https://magazine3.com/demo/newspapertimes/kendall-jenner-hits-malibu-beach-for-some-summer-fun-photos/'>More...</p></a></a></div> </div>

                </div>
            </div>
            <a href="#" class="prev"><img src="{{ asset('bundles/front/images/prev.png')}}" width="65" height="10" alt=""></a>
            <a href="#" class="next"><img src="{{ asset('bundles/front/images/next.png')}}" width="37" height="9" alt=""></a>
        </div>

    </div>

</div>

