<div id="slider-wrapper">

    <div id="example">

        <div id="slides">
            <div class="slides_container">
                {% for article in listearticles %}
                    <div class="slide">
                        <a href="#"><img width="298" height="295" src="{{ asset('uploads/img/')}}{{ article.image }}" class="attachment-featgalsliderimg " alt="" /></a>

                    </div>
                {% endfor %}
                {% for article in listearticles %}
                    <div class="slide">
                        <a href="#"><img width="298" height="295" src="{{ asset('uploads/img/')}}{{ article.image }}" class="attachment-featgalsliderimg " alt="" /></a>

                    </div>
                {% endfor %}

            </div>
            <a href="#" class="prev"><img src="{{ asset('bundles/front/images/prev.png')}}" width="65" height="10" alt=""></a>
            <a href="#" class="next"><img src="{{ asset('bundles/front/images/next.png')}}" width="37" height="9" alt=""></a>
        </div>

    </div>

</div>

