<div id="sidebar">

    <div id="colorcontenth3">
        <a href="#" title="">Pros du week-end</a>
    </div>
    <div class="tabs">
        <ul class="tabs">
            <li><a href="#culture">Culture</a></li>
            <li><a href="#sport">Sport</a></li>
        </ul>
        <div class="tab_content" id="culture">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum efficitur diam elit.</p>
            <p>Curabitur tincidunt, est viverra bibendum volutpat, mauris metus dapibus tortor, sit amet imperdiet metus libero non sem. Fusce quis leo quis nisi lacinia posuere vitae at elit. </p>
            <p>Donec vehicula felis lorem, accumsan dignissim neque lacinia vitae. </p>
            <p>Suspendisse a nunc eu nisl posuere sagittis. Integer rhoncus, ligula vitae porta eleifend, ex lectus maximus enim, ac blandit ex arcu non urna. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
            <p>Aenean sed tellus at turpis convallis condimentum. Nullam eu euismod justo. </p>
            <p>Donec dignissim ut elit ac posuere. Phasellus semper erat nulla, quis placerat quam mattis nec. Pellentesque vitae ornare lectus.</p>

        </div>
        <div class="tab_content" id="sport">
            <p>Pellentesque facilisis, mauris sed lacinia maximus, elit justo semper ligula, a pulvinar dolor diam gravida arcu. Cras vitae erat interdum, tempus nulla ac, dignissim ligula. Mauris feugiat velit tortor, et pellentesque odio fermentum eu. </p>
            <p>Aliquam eget placerat lacus. Fusce non lorem quis purus vehicula suscipit. </p>
            <p>Donec eleifend enim non urna sollicitudin, at egestas arcu molestie.</p>
            <p> Fusce gravida velit quis purus elementum tempor. Donec eu sagittis purus, a dapibus nibh. Phasellus in egestas augue. Vivamus vel lectus pulvinar, fermentum enim at, iaculis odio. </p>
            <p>In pretium neque justo, at pulvinar justo tincidunt et.</p>
        </div>
    </div>
    <div class="adspace-widget widget">
        <img src="{{ asset('bundles/front/images/Chev_Equinox_Life_Video_Airplane_300x250.jpg')}}" alt="" style="margin-bottom:10px" />
        <br/>
    </div>

    <div id="colorcontenth3">
        <a href="#" title="">SERVICES</a>
    </div>
    <div id="slides2">
        <div class="slides_container">
            <div class="slide">
                <img src="{{ asset('bundles/front/images/sous.jpg')}}" alt=""/>
            </div>

            <div class="slide">
                <div style="padding:30px" class="text">
                    <h2 style="margin-bottom:1px;">Police secours</h2>
                    <p>017</p>
                    <p>0320000000</p>
                    <p>0330000000</p>
                    <p>0340000000</p>
                    <p>0390000000</p>
                </div>
            </div>
            <div class="slide">
                <div style="padding:30px" class="text">
                    <h2 style="margin-bottom:1px;">Cous de change</h2>
                    <p>Euro : 2500</p>
                    <p>Dolar : 2500</p>
                    <p>Yen : 1500</p>
                </div>
            </div>
        </div>
    </div>
    <div id="contactBlock">
        <h2><a href="#" title="" id="title">Tarif publicitaires</a></h2>
        <div class="bockcontent">
            La ligne de mire <br/>
            Triatra
        </div>
        <div class="bockcontent app">
            telecharge <br/>
            application laligne de mire
        </div>
    </div>
    <div id="contactBlock">
        <h2><a href="#" title="" id="title">Média</a></h2>
        <div class="bockcontent parts">
            <div class="partner">
                <span>Livres journaux</span>
                <a href="#"><img src="{{ asset('bundles/front/images/logo-lignemire.jpg')}}" alt=""/></a>
                <a href="#"><img src="{{ asset('bundles/front/images/logo-traitra.jpg')}}" alt=""/></a>
            </div>
            <div class="partner">
                <span>Radio et Tv en ligne</span>
                <a href="#"><img src="{{ asset('bundles/front/images/logo-az.jpg')}}" alt=""/></a>
            </div>
        </div>
    </div>
</div>
